[Unit]
Description=ROS 2 Docker Stack
Requires=docker.service
After=docker.service network-online.target

[Service]
Type=simple
User=${SERVICE_USER}
WorkingDirectory=${PROJECT_DIR}

Environment="PROJECT_DIR=${PROJECT_DIR}"

ExecStart=/usr/local/bin/start_radas_ros2.sh
ExecStop=/usr/bin/docker compose down
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target